<section class="content app">
	<div class="main-header">
		Header
		2
	</div>

	<div class="main">
		<form class="form" role="form" {{action "calculate" on="submit"}}>

			<div class="row unmargin">
				<div class="col-xs-4">
					Human's Height: 
				</div>

				<div class="col-xs-4">
					{{input type="number" class="form-input" id="humanHeight" required=true value=humanHeight placeholder="Inches..."}}
				</div>
			</div>

			<div class="row unmargin">
				<div class="col-xs-4">
					Pet's Height: 
				</div>

				<div class="col-xs-4">
					{{input type="number" class="form-input" id="petHeight" required=true value=petHeight placeholder="Inches..."}}
				</div>
			</div>

			<div class="row unmargin">
				<div class="col-xs-4">
					Distance: 
				</div>

				<div class="col-xs-4">
					{{input type="number" class="form-input" id="distance" required=true value=distance placeholder="KMs..."}}
				</div>
			</div>

			<div class="row form-button unmargin">
				<button role="submit">Calculate!</button>
			</div>

			<div class="row results unmargin">
				<div class="col-xs-4">
				<p>
					{{results}}
					</p>
				</div>
			</div>

		</form>
	</div>
</section>